<a href="https://colab.research.google.com/github/VijayaBhargavi198/5731Assignments/blob/master/vijayabhargavi_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
import numpy as np
from random import randint
x = [randint(0, 100) for i in range(0, 12)]   # generating 12 random numbers between 1 and 100.
print("Original Array:",x)                      
x.sort()                                      # Sorting the list in ascending order 
print("Array sorted in ascending order:",x)
x.sort(reverse=True)                          # Sorting the list in descending order
print("Array Sorted in descending order:",x)
print("Average of the Array:",np.average(x))  #finding the average of the list

Original Array: [0, 53, 90, 54, 97, 2, 79, 91, 55, 42, 52, 25]
Array sorted in ascending order: [0, 2, 25, 42, 52, 53, 54, 55, 79, 90, 91, 97]
Array Sorted in descending order: [97, 91, 90, 79, 55, 54, 53, 52, 42, 25, 2, 0]
Average of the Array: 53.333333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Ask the user to enter two sentences.
sentence1 = input("Enter the first sentence : ")
sentence2 = input("Enter the second sentence : ")

Enter the first sentence : This is university of north Texas, Denton.
Enter the second sentence : Hey!!!!!!, welcome to UNT, Denton, Texas.

In [4]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [6]:
# Make each sentence into a list. Each element in the list should correspond to a word in the sentence.
list1 = nltk.word_tokenize(sentence1)
list2 = nltk.word_tokenize(sentence2)
print(list1)
print(list2)

['This', 'is', 'university', 'of', 'north', 'Texas', ',', 'Denton', '.']
['Hey', '!', '!', '!', '!', '!', '!', ',', 'welcome', 'to', 'UNT', ',', 'Denton', ',', 'Texas', '.']

In [7]:
# Compare the two sentences. Print out a list of words that occur in both sentences.
def sentence_match(a,b): 
    common_words = '' 
    for i in a: 
        if i in b: 
            common_words = common_words+" "+i 
    return common_words 
sentence_match(list1,list2)

' Texas , Denton .'

In [9]:
# Remove any punctuation from the sentence and print it back out.
punctuation = ['(', ')', '?', ':', ':', ',', '.', '!', '/', '"', "'"]
def remove_punct(str):     
    for i in punctuation:
        str = str.replace(i,"")
    return str
print("sentence1 after removing punctuations:", remove_punct(sentence1))
print("sentence2 after removing punctuations:", remove_punct(sentence2))

sentence1 after removing punctuations: This is university of north Texas Denton
sentence2 after removing punctuations: Hey welcome to UNT Denton Texas

In [10]:
# Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences.
def vowel_count(sentence):
    sent_low = sentence.lower() 
    vowel_counts = {}
    for vowel in "aeiou":
        count = sent_low.count(vowel)
        vowel_counts[vowel] = count
    return vowel_counts
    
print("vowels in sentence1:",vowel_count(sentence1))
print("vowels in sentence2:",vowel_count(sentence2))

vowels in sentence1: {'a': 1, 'e': 3, 'i': 4, 'o': 3, 'u': 1}
vowels in sentence2: {'a': 1, 'e': 5, 'i': 0, 'o': 3, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [11]:
import math
print("R  " " volume")
for r in range(1,11):
    volume=((4/3)*math.pi*pow(r,3)) # calculate volume, v=4/3∗ π∗ r3
    print(r," ",volume)

R   volume
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [16]:
#  Calculate the difference in the number of Occupied Housing Units from year to year and print it in the ascending order. 
import datascience as ds
import pandas as pd
import numpy as np
denton_housing = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv")
ohu_df = denton_housing[(denton_housing['title_field']=='Occupied Housing Units')].sort_values(by='year')
print(ohu_df['value'].diff().sort_values().dropna())

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
Name: value, dtype: float64

In [13]:
#  For all the years, calculate the percentage of housing units which are vacant an occupied. 

#creating individual dataframes
ohu_df = denton_housing[(denton_housing['title_field']=='Occupied Housing Units')].sort_values(by='year')
vhu_df = denton_housing[(denton_housing['title_field']=='Vacant Housing Units')].sort_values(by='year')
thu_df = denton_housing[(denton_housing['title_field']=='Total Housing Units')].sort_values(by='year')
year_df = sorted(denton_housing['year'].unique())
ohu_list = ohu_df["value"].to_list()
vhu_list = vhu_df["value"].to_list()
thu_list = thu_df["value"].to_list()

#function for calculating percentages
def percent (val,total):
    percentage_values = list()
    for i in range(len(val)):
        percentage_values.append(str(val[i]/total[i]*100)+"%")
    return percentage_values;

vacant_percent = percent(vhu_list,thu_list)
occupied_percent = percent(ohu_list,thu_list)
result_df = pd.concat([pd.DataFrame(year_df,columns=['year']),
                    pd.DataFrame(vacant_percent,columns=['| vacant housing percentage']), 
                    pd.DataFrame(occupied_percent,columns=['| occupied housing percentage'])],axis=1)
print(result_df)

   year | vacant housing percentage | occupied housing percentage
0  2008          10.88265281351653%            89.11734718648347%
1  2009           9.07111572444872%            90.92888427555128%
2  2010          8.142556337081672%            91.85744366291833%
3  2011          9.379522229890688%             90.6204777701093%
4  2012          6.677600230491346%            93.32239976950866%
5  2013          8.801787504176412%            91.19821249582358%
6  2014          5.730110570363885%            94.26988942963611%

In [14]:
# Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. 

def max_year(housing_unit,max_units):
    return year_df[housing_unit.index(max_units)]
    pass
val = ["Vacant Housing Units","Occupied Housing Units"]
years_column = list()
units_column = list()
max_vu = max(vhu_list)
max_ou = max(ohu_list)
# Retrieving the year with highest number of vacant units 
units_column.append(max_vu )
years_column.append(max_year(vhu_list,max_vu ))
# Retrieving the year with highest number of occupied units 
units_column.append(max_ou)
years_column.append(max_year(ohu_list,max_ou))
# consolidating the resultant dataframe
result_df = pd.concat([pd.DataFrame(val,columns=['']),
                    pd.DataFrame(years_column,columns=['year']), 
                    pd.DataFrame(units_column,columns=['units'])],axis=1)
result_df

                           year  units
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [15]:
# Calculate the harmonic mean of the total housing units and print it out.

from scipy import stats
print('harmonic mean of total housing units =', round(stats.hmean(thu_list),2))

harmonic mean of total housing units = 44398.29